{#<li><a href="{{ path('core_front_staticpages', {'handle': "help"}) }}">Help</a></li>#}
<li><a href="{{ path('core_front_staticpages', {'handle': "about"}) }}">About</a></li>
<li><a href="{{ path('core_front_staticpages', {'handle': "terms-of-use"}) }}">Terms</a></li>
<li><a href="{{ path('core_front_staticpages', {'handle': "privacy-policy"}) }}">Privacy Policy</a></li>
<li><a href="{{ path('core_front_staticpages', {'handle': "faq"}) }}">FAQ</a></li>
{#<li><a href="{{ path('core_front_staticpages_social_physical_product') }}">Order DVDs</a></li>#}
<li><a href="{{ path('core_front_staticpages', {'handle': "shipping-policy"}) }}">Shipping Policy</a></li>
