{% extends "VeniceFrontBundle:Products:layout.html.twig" %}


{% block menu %}
{% endblock %}


{% block title %}
    {{ bundleProduct.name }}
{% endblock %}


{% block content %}
    <div class="downloads-dashboard-main-content landing-page">
        <div class="row">

            <div class="span-medium-18 offset-medium-3 text-center">
                <p>{{ bundleProduct.description|raw }}</p>
            </div>

            <div class="span-medium-24">
                <div class="block-title">{{ bundleProduct.name }}</div>

                <div id="product-preview" class="persist-area">
                    <div class="block block-title persist-header">
                        <div class="hr"></div>
                        <div class="block-left">
                            <a href="#product-preview" class="nice-scroll">Product preview</a>
                        </div>
                        <div class="block-center">
                        </div>
                        <div class="block-right">
                            <a href="#add-ons" class="nice-scroll">Add-Ons</a>
                        </div>
                    </div>

                    {% if not access %}
                        <div class="filter-not-access">
                            {% for contentProduct in allContentProducts %}
                                {% if contentProduct.product.isDigital() %}
                                    <div class="downloads-dashboard row">
                                        {{ productRenderer(bundleProduct, contentProduct.content,"downloadsDashboard",false,true) }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="disabled"></div>
                        </div>
                    {% else %}
                        {% for contentProduct in allContentProducts %}
                            {% if contentProduct.product.isDigital() %}
                                <div class="downloads-dashboard row">
                                    {#{{ productRenderer(contentProduct.product,"downloadsDashboard",false) }}#}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {#{% if not access %}#}
                    {#<div class="row">#}
                    {#<div class="span-medium-24 text-center">#}
                    {#<a href="#" class="button button-buy-jumbotron uppercase"><span>Unlock</span></a>#}
                    {#</div>#}
                    {#</div>#}
                    {#{% endif %}#}
                </div>

                <div id="add-ons" class="recomended persist-area">
                    <div class="block block-title persist-header">
                        <div class="hr"></div>
                        <div class="block-left">
                            <a href="#product-preview" class="nice-scroll">Product preview</a>
                        </div>
                        <div class="block-center">
                        </div>
                        <div class="block-right">
                            <a href="#add-ons" class="nice-scroll current current_ancestor">Add-Ons</a>
                        </div>
                    </div>
                    <div class="row">
                        {% for upsellProduct in upsellProducts %}
                            <div class="span-large-6 span-medium-12 span-col">
                                <div class="recomended-item">
                                    <img src="{{ upsellProduct.upselMiniature }}" alt="" class="img-responsive"/>
                                    <span class="inside-title">{{ upsellProduct.shortName }}</span>

                                    <div class="recomended-hover">
                                        <div><span>{{ upsellProduct.shortName }}</span></div>
                                        <div class="divider"></div>
                                        <p>{{ upsellProduct.shortDescription }}</p>

                                        <div class="row">
                                            {% if app.user.haveAccess(upsellProduct) %}
                                                <a class="button"
                                                   href="{{ path("downloads_product_bundle_detail",{"handle":upsellProduct.handle}) }}">Details</a>
                                            {% else %}
                                                <a class="button"
                                                   href="{{ path("downloads_product_bundle_detail",{"handle":upsellProduct.handle}) }}">Get more details</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}