{% extends "VeniceFrontBundle:BundleProduct:BundleProductDetail.html.twig" %}


{% block buyModal %}
    {{ include("VeniceFrontBundle:BuyPopup:buyPopup.html.twig",{product:bundleProduct}) }}
{% endblock %}


{% block jumbotronClass %}jumbotron-seven-days{% endblock %}


{% block headerInside %}
    <div class="row">
        <div class="span-small-14 margin-top-50">

        </div>
        <div class="span-small-10 margin-top-100 text-center headline-button">
            <h1>{{ bundleProduct.name  }}</h1>
            {% if not access %}
                <label for="bundle-product-modal-input" class="button button-buy-jumbotron uppercase buy-modal-open"><span>BUY NOW</span></label>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block popTrialFlow %}
    {% if app.user is not null %}
        {% set afterTrialPopup = afterTrialExpires(app.user) %}
        {% if afterTrialPopup != "" %}
            {{ afterTrialPopup|raw }}
        {% else %}
            {{ beforeTrialExpires(app.user) }}
        {% endif %}
        {{ productPopup(bundleProduct) }}
    {% endif %}
{% endblock %}