<input id="close-alert-{{ type }}-{{ id }}" type="radio" class="checkbox-none">
<div class="alert alert-{{ type }}">
    <div class="container">
        <div class="row">
            <div class="span-mini-24">
                <label for="close-alert-{{ type }}-{{ id }}" class="alert-label">
                    <i class="ff-cross2"></i>
                </label>
                <div class="row">
                    <div class="show-alert">
                        <div class="left">
                            <i class="icon-notifi-{{ type }} font-28"></i>
                        </div>
                        <div class="right">
                            <p>{{ text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="progres">
        <div class="progres-line"></div>
    </div>
</div>